<h1>New user</h1>

<form id="new_user" action=" <%= users_url %>" method="post">
  Username:
  <input type="text" name="user[username]" id='username' value="">
  Password:
  <input type="text" name="user[password]" id='password' value="">

  <input type="submit" name="submit_button" value="Create User">

  <%= render 'layouts/token' %>
</form>
